<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/safe.css">    
    <script src="/static/safe.js"></script>
  </head>
<body>
  <div id="general">
    <form method="post" action="/poa">
      <input name="poa" value="grant" type="hidden" readonly/>
      <div>
        <label  for="attorney">attorney</label>
        <input class="text" name="attorney"/> 
      </div>
      <div>
        <label for="password">finger print</label>
        <input class="text" name="fingerpring"/> 
      </div>
      <input class="click" type="submit" value="send"/>
  </form>
  </div>
</body>
</html>