<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/safe.css">    
    <script src="/static/safe.js"></script>
  </head>
<body>
  <div id="general">
    <form method="post" action="/credentials">
      <div>
        <label  for="handle">handle</label>
        <input class="text" name="handle" id="handle"/> 
      </div>
      <div>
        <label for="password">password</label>
        <input class="text" type="password" name="password" id="password"/> 
      </div>
      <input class="click" type="submit" value="send"/>
  </form>
  <a href="/signin">sign in </a>
  </div>
</body>
</html>